meta(charset='utf8')
title= 'Bioenergetic Calculators'
link(rel='stylesheet', href='#{baseUrl}/css/global.css')
link(rel='stylesheet', href='#{baseUrl}/css/themes/default/Google_OpenSans.css')
link(rel='stylesheet', href='#{baseUrl}/css/themes/default/bootstrapValidator.min.css')
script(type="text/x-mathjax-config" src='#{baseUrl}/js/mathjax/config/local.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML")
script(src='#{baseUrl}/js/jquery/jquery.min.js')
script(src='#{baseUrl}/js/bootstrap/bootstrap.min.js')
script(src='#{baseUrl}/js/bootstrapValidator/bootstrapValidator.min.js')
script(src='#{baseUrl}/js/clipboard/clipboard.min.js')

